{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <p class="lead pt-md-5 pb-md-4">Сервис рассылок - здесь Вы можете настроить свои рассылки.</p>

</div>
<body>
    <div class="container">
        <div>
            <h2 class="text-center">Статистика рассылок</h2>

            <p class="h4 text-center mb-2">Всего рассылок: <strong>{{ total_mail }}</strong></p>
            <p class="h4 text-center mb-2">Активные рассылки: <strong>{{ active_mail }}</strong></p>
            <p class="h4 text-center mb-2">Уникальные получатели: <strong>{{ unique_recipients }}</strong></p>

        </div>
    </div>
</body>
</html>
{% endblock %}